
@import 'bourbon';

$bordercolor:		rgb(232,232,232);


html, body {
	height: 100%;
	margin: 0;
}
body {
	font-family: "Georgia Pro", Georgia, serif; font-size: large; line-height: 1.3;
	background-color: white;
}

header {
	padding: 1em;
	text-align: right;
}

a {
	&:link, &:visited { color: #048; text-decoration: none; }
	&:hover { text-shadow: #61c0ff 0 0 0.3em; }
}
table { border-collapse: collapse; }
td, th {
	padding: 0.5em;
	vertical-align: baseline;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
thead {
	tr {
		border-bottom: 1px solid $bordercolor;
		th {
			padding: 0.5em;
		}
	}
}
tfoot {
	tr {
		border-top: 1px solid $bordercolor;
		th {
			padding: 0.5em;
			text-align: right;
		}
	}
	form {
		margin-top: 2em;
	}
}

button.nobutton {
	display: inline;
	padding: 0;
	border: none; background: none;
	cursor: pointer;
}
textarea {
	font: 12pt/16pt Monaco, monospace;
}

#container {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
	-webkit-align-items: center; align-items: center;
	min-height: 80%;
	
	@media (max-width: 1024px) {
		padding: 20px;
	}
	
	#content {
		max-width: 1200px;
		@media (min-width: 1025px) {
			min-width: 800px;
			margin: 20px;
		}
		@media (max-width: 1024px) {
			width: 100%;
		}
		
		table {
			width: 100%;
		}
	}
}

.login {
	text-align: center;
	input, button {
		font-size: large;
		margin-top: 1em;
	}
}

.write {
	margin: 0 0 1.5em; padding-bottom: 1.5em;
	text-align: right;
	border-bottom: 1px solid $bordercolor;
	
	textarea {
		@media (min-width: 1025px) {
			float: left; width: 84%;
		}
		@media (max-width: 1024px) {
			width: 96%;
			padding: 2%;
		}
	}
}

.news_edit, .news_delete {
	display: none;
}
.news_edit {
	min-width: 320px;
	margin: 1em 0;
	
	textarea {
		width: 98%;
	}
}
.news_delete {
	button {
		font-size: large;
	}
}

tr.deleted .maydelete {
	text-decoration: line-through; color: #888;
}
span.diddelete {
	color: #900;
}

.success, .hint, .error {
	padding: 1em;
	font-size: 1.1em; text-align: center;
	
	.login & {
		margin: 0 0 2em;
	}
}
.success {
	color: #030; background-color: #5F3;
}
.error {
	color: #300; background-color: #F53;
}

.green {
	color: #390;
}

.small {
	font-size: 0.75em;
}
.faded {
	color: rgb(128,128,128);
}
