<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage">
<head>
	<title>{{ title|default("MedCalc News") }}</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="favicon.png" type="image/png" />
	
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
	<link href="static/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	{% if token %}
	<header>
		<form method="post" action="index.php">
			<input type="hidden" name="logout" value="1" />
			<button>Logout</button>
		</form>
	</header>
	{% endif %}
	<div id="container">
		<div id="content">
		{% if success_msg %}
		<p class="success">{{ success_msg }}</p>
		{% endif %}
		{% if error_msg %}
		<p class="error">{{ error_msg }}</p>
		{% endif %}
		{% block body %}{% endblock %}
		</div>
	</div>
</body>
</html>
