{% extends "base.html" %}

{% block body %}
<form class="login" method="post" action="index.php">
	<input name="email" size="25" placeholder="Email" />
	<button>Get Token</button> 
</form>
{% endblock %}
