{% extends "base.html" %}

{% block body %}
<div class="write">
	<form method="POST" action="index.php">
		<textarea id="new_text" name="text" cols="50" rows="6" style="display:none;"></textarea>
		<button id="new_start" type="button" onclick="startNews()">Write News</button>
		<button id="new_cancel" type="reset" onclick="cancelNews()" style="display:none;">Cancel</button>
		<button id="new_save" style="display:none;">Save</button>
		<br style="clear:left;">
	</form>
</div>
<table>
<thead>
	<tr>
		<th></th>
		<th>by</th>
		<th>text</th>
		<th>📱</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for nw in news %}
	<tr{% if nw.deleted %} class="deleted"{% endif %}>
		<td class="small">{{ nw.added|date }}
			{%- if nw.lastedit %}<br>{{ nw.lastedit|date }}{% endif -%}
			{%- if nw.deleted %}<br><span class="diddelete">{{ nw.deleted|date }}</span>{% endif -%}
		</td>
		<td class="small faded">{{ nw.addedBy }}
			{%- if nw.lasteditBy %}<br>{{ nw.lasteditBy }}{% endif -%}
			{%- if nw.deletedBy %}<br><span class="diddelete">{{ nw.deletedBy }}</span>{% endif -%}
		</td>
		<td class="maydelete"><div>{{ nw.text }}</div>
			{%- if not nw.deleted %}
			<form method="POST" action="index.php" id="form_{{ nw.huid }}" class="news_edit">
				<!-- <input type="hidden" name="platform" value="{{ platform }}"> -->
				<input type="hidden" name="edit" value="{{ nw.uid }}">
				<textarea name="text" rows="6">{{ nw.text }}</textarea>
				<button type="reset" onclick="endEditNews('{{ nw.huid }}')">Cancel</button>
				<button>Save</button>
			</form>
			{%- endif %}
		</td>
		<td class="small">{{ nw.platforms }}</td>
		<td>
			{%- if not nw.deleted %}
			<a href="javascript:void(0)" onclick="editNews('{{ nw.huid }}')">💬</a>
			<form method="POST" action="index.php" id="del_{{ nw.huid }}" class="news_delete" onsubmit="return confirm('Really delete?');">
				<input type="hidden" name="delete" value="{{ nw.uid }}">
				<button class="nobutton">🚫</button>
			</form>
			{%- endif %}
		</td>
	</tr>
{% else %}
	<tr><td colspan="5"><p class="hint faded">No News</p></td></tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
function startNews() {
	document.getElementById('new_text').style.display = 'block';
	document.getElementById('new_start').style.display = 'none';
	document.getElementById('new_cancel').style.display = 'inline';
	document.getElementById('new_save').style.display = 'inline';
}

function cancelNews() {
	document.getElementById('new_text').style.display = 'none';
	document.getElementById('new_start').style.display = 'inline';
	document.getElementById('new_cancel').style.display = 'none';
	document.getElementById('new_save').style.display = 'none';
}

function editNews(id) {
	document.getElementById('form_' + id).style.display = 'block';
	document.getElementById('del_' + id).style.display = 'block';
}

function endEditNews(id) {
	document.getElementById('form_' + id).style.display = 'none';	
	document.getElementById('del_' + id).style.display = 'none';	
}
</script>
{% endblock %}
